body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.first-section{
    border: 1px solid gray;
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    background-color: black;
}
.first-div{
    width: 500px;
    height: 400px;
    color: aliceblue;
}
.first-div h1{
    font-size: 60px;
}
.first-div button{
    background-color: red;
    color: aliceblue;
    padding: 10px 30px;
}
.second-div img{
    width: 500px;
    height: 600px;
}
/* main section code start */

.container{
    display: flex;
    margin: 50px 0;
}
.main-div{
    display: grid;
    border: 2px solid rebeccapurple;
    width: 300px;
    height: 300px;
    padding: 20px 20px;
    margin: 80px;
    background-color: black;
    border-radius: 10px;
}
.main-div button{
    margin: 20px;
    border-radius: 10px;
}
.button-tag{
    margin: 20px;
    background-color: crimson;
    color: aliceblue;
    border-radius: 10px;
}
/* div state */

.div-player{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 15px;
    column-gap: 15px;
    
}
.plyer{
    width: 200px;
    height: 250px;
    padding: 50px 50px;
    background-color: rgba(220, 220, 220, 0.158);
    border-radius: 20px;
}
.plyer img{
    width: 200px;
    height: 150px;
    
}
/* footer code start */
.main-footer{
    border: 2px solid royalblue;
    background-color: black;
    height: 300px;
}
.main-footer h1{
    text-align: center;
    color: rgb(255, 255, 255);
}
.main-footer hr{
    
    
    margin-top: 10px;
    color: gray;
}
.footer-itams{
    list-style: none;
    display: flex;
    justify-content: center;
    color: white;
}
.footer-itams li{
    padding: 0 30px;
}
.footer-div{
    margin-top: 100px;
}
/* media queries */
@media only screen and(max-width:688px) {
    .main-div{
        display: flex;
    }
        .div-player{
            display: grid;
            grid-template-columns: repeat(1,1fr);
        }
}
@media only screen and(min-width:900px) {
    .main-div {
        display: flex;
    }

    .div-player {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}